.profile{
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 25%;
    flex-direction: column;
}
.profileImage{
    height: 100%;
    border-radius: 50%;
}